ul {
  list-style: none;
}
ul li {
  padding: 10px 0px;
}
body {
  font-size: 30px;
}
.oneplus-link-btn {
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid #eb0028;
  background-color: #eb0028;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 150px;
}
.oneplus-link-btn span {
  line-height: 60px;
  /*设定高度使用line-height*/
}
.oneplus-link-btn:hover {
  border-color: #c40019;
}
.oneplus-link-btn[disabled] {
  background-color: #bab6b3;
  border-color: #bab6b3;
}
.oneplus-font-size-20 {
  font-size: 30px;
}
.oneplus-input {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}
.oneplus-input:focus {
  border-color: red;
  outline: none;
}
.oneplus-button {
  width: 100px;
  padding: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid #eb0028;
  background-color: #eb0028;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  outline: none;
}
.oneplus-button:hover {
  cursor: pointer;
  border-color: #c40019;
}
.oneplus-button[disabled] {
  background-color: #bab6b3;
  border-color: #bab6b3;
}
.oneplus-validate-tip {
  font-style: normal;
  color: red;
}
