<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/lib/jquery.js" ></script>
	<script src="/javascripts/login.js" ></script>
  </head>
  <body>
    <fieldset>
		<legend>用户登录</legend>
		<section>
			<label>用户名</label>
			<input type="text" id="username"></input>
		</section>
		<section>
			<label>密码</label>
			<input type="password" id="password"></input>
		</section>
		<section>
			<input type="button" value="提交" id="submit"></input>
			<input type="button" value="重置"></input>
		</section>
	</fieldset>
  </body>
</html>